Source: ros-galactic-phidgets-accelerometer
Section: misc
Priority: optional
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake-ros, ros-galactic-phidgets-api, ros-galactic-rclcpp, ros-galactic-rclcpp-components, ros-galactic-sensor-msgs, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-phidgets-accelerometer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-launch, ros-galactic-phidgets-api, ros-galactic-rclcpp, ros-galactic-rclcpp-components, ros-galactic-sensor-msgs, ros-galactic-ros-workspace
Description: Driver for the Phidgets Accelerometer devices
