Source: ros-jazzy-phidgets-drivers
Section: misc
Priority: optional
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/phidgets_drivers
Standards-Version: 3.9.2

Package: ros-jazzy-phidgets-drivers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-libphidget22, ros-jazzy-phidgets-accelerometer, ros-jazzy-phidgets-analog-inputs, ros-jazzy-phidgets-api, ros-jazzy-phidgets-digital-inputs, ros-jazzy-phidgets-digital-outputs, ros-jazzy-phidgets-gyroscope, ros-jazzy-phidgets-high-speed-encoder, ros-jazzy-phidgets-ik, ros-jazzy-phidgets-magnetometer, ros-jazzy-phidgets-motors, ros-jazzy-phidgets-msgs, ros-jazzy-phidgets-spatial, ros-jazzy-phidgets-temperature, ros-jazzy-ros-workspace
Description: API and ROS drivers for Phidgets devices
